



body{
    color: white ;
    font-family : 'Montserrat', sans-serif ;
    margin : 40px ;
    padding : 20px ;
    background-image: url("background.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-size:inherit;
    backdrop-filter: blur(10px) ;
    
  
}
nav{
    position: sticky;
    top: 0;
}
nav a{
    color : white ;
    font-size : 30px ;
    top : 10;   
    
}
nav a:hover{
    color : turquoise ;
    
}


.blue {
    color : turquoise ;
}
.center{
    image: background.jpg;
}

.textlimiter{
  width: 90%;
  max-width: 1250px;
  margin: auto;
  padding: 10px;
}
.look{
    background-color: #80808033 ;
    border-radius: 25px;
    padding :inherit ;
}
.looknav{
    background-color: #010824 ;
    border-style :dashed;
    padding :inherit ; 
    border-radius: 10px;
}
table,  td {
    border: 1px solid white;
    padding: 15px;
    text-align: center;
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
